table.timetable { /* избегаем селекторов только на элемент */
  font-size: 160%;
  /* размер шрифта в процентах будет относительным для документа, что подразумевается гораздо чаще, чем фиксированный кегль */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
}

/*без фанатизма - от лишних стилей частенько рябит в глазах*/
.bus-type {
  _font-weight: bold; /*в расписании нет частей, более важных, чем другие, так что нет смысла что-либо выделять*/
  text-align: center;
  width: 2em;
}

.number { /*иногда лучше написать 2 отдельных селектора, даже если они одинаковые*/
  text-align: center;
  width: 2em;
}

.route {
  _font-style: italic;
  text-align: left;
  width: auto;
}

.time1 {
  text-align: right;
  width: 2em;
  border-right: 1px solid #ccc;
}

.time2 {
  text-align: right;
  width: 2em;
}