<ul class="pagination">
  <li ng-repeat="item in pageItems" ng-switch on="item.type" ng-class="{active:item.active, disabled:item.disabled}">
  	<a ng-switch-when="arrow" href="#" aria-label="{{item.value == -1 ? 'Previous' : 'Next'}}" ng-click="$ctrl.selectPage($ctrl.state.current + item.value)">
  		<span aria-hidden="true" ng-bind="item.value == -1 ? '&laquo;' : '&raquo;'"></span>
  	</a>
  	<a ng-switch-when="number" href="#" ng-bind="item.value" ng-click="$ctrl.selectPage(item.value)">number</a>
  	<a ng-switch-when="dots">...</a>
  </li>
</ul>