#LG_container{
    border: 1px solid #aaa;
    visibility:hidden;
    position:absolute;
    top:0px;
    left:0px;
    padding:2px;
    z-index:200;
    opacity:1;
    background-color:#f4f4f4;
    background-position:center;
    background-repeat:no-repeat;
    font: normal 12px verdana, arial, sans-serif
}
#LG_loading {
    background: url(ico-loading.gif) no-repeat center;
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
}

#LG_prevLink,#LG_nextLink{
    cursor:pointer;
    position:absolute;
    top:36px;
    opacity:0;
    filter:alpha(opacity=0);
}
#LG_prevLink{
    left:0;
    background:url(prev.png) no-repeat left 80px
}
#LG_nextLink{
    right:0;
    background:url(next.png) no-repeat right 80px
}

#LG_imgIndex{
    float:left;
    margin-left:16px;
    color:#777;
    height:32px;
    line-height:32px;
}
#LG_titleBar{
    color:#555;
    height:30px;
    line-height:36px;
    overflow:hidden;
    text-align:center;
}
#LG_overlay{
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    width:100%;
    height:100%;
    display:none;
    opacity:0;
    filter:Alpha(opacity=0);
}
#LG_pic{display:none;margin:0 auto}

#LG_zoomIn, #LG_zoomOut, #LG_zoomNormal, #LG_fitScreen, #LG_zoom_disabled{
    width:32px;
    height:32px;
    margin:1px;
    float:left;
    cursor:pointer;
    display:block;
}
#LG_zoom_disabled {
    display:none;
}
#LG_zoomIn{background:url(sprite.png) no-repeat -16px -16px}

#LG_zoomNormal{background:url(sprite.png) no-repeat -16px -272px}

#LG_zoomOut{background:url(sprite.png) no-repeat -16px -80px}

#LG_fitScreen{background:url(sprite.png) no-repeat -16px -208px}

#LG_closeBtn{
    float:right;
    background:url(sprite.png) no-repeat -16px -144px;
    width:32px;
    height:32px;
    cursor:pointer;
}
