linear-graph {
  display: inline-block;
  line-height: 0px;
}

linear-graph svg {
  display: inline;
  width: 100%;
  max-width: 100%;
  font-size: 3px;
}

.linear-graph .axis {
  stroke-width: 0.5;
  stroke: black;
}

.linear-graph .tick {
  stroke-width: 0.3;
  stroke: black;
}

.linear-graph .graph {
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.7;
}

.linear-graph .plot-mark.major {
  font-size: 130%;
  font-weight: bold;
}