*{
	margin:0;
	padding: 0;
	font-family: 'Century Gothic';
}
body {
	font-size: 25px;
	background: url(../img/bg-1.png) repeat;
}
input {
	border:none;
	border-radius: 15px;
	outline: none;
}
select {
	border:none;
	border-radius: 15px;
	padding:10px;
	outline: none;
}
.main {
	margin:0 auto;
	width:80%;
	margin:15px auto;
	padding:15px;
	display: none;
}
.first-screen {
	background: url(../img/head.jpg) #16C29D;
	/*background: url(../img/head-8.jpg) 50% 100% #16C29D;*/
	width:100%;
	height:580px;
}
.name {
	padding:85px;
	font-size: 65px;
	font-style: italic;
	text-align:center;
	color:white;
	font-weight: bold;
}
.name:after {
	content:'';
	position:absolute;
	top:200px;
	right:0;
	left:0;
	width:120px;
	height:3px;
	margin: 0 auto;
	background: #fff;
	text-transform: uppercase;
}
.button {
	text-align: center;
	border-radius: 5px;
	color:black;
	margin:10px auto;
	width:250px;
	height:50px;
	padding:10px;
	background: rgba(255,245,215,0.6);
	cursor:pointer;
}
.button:hover {
	background: #fff;
}
.inputName {
	width:60%;
	margin:15px auto;
	color: #fff;
}
#userName {
	padding:10px;
	color:black;
}
.error {
	box-shadow: 0 0 10px red !important;
}
.choise-text {
	display: inline-block;
	margin:15px;
	padding:35px 0px;
}
.button.reset {
	width:115px;
	display: none;
}
.playField-ru,
.playField-eng {
	display: none;
}
.text1, .text2 {
	margin:15px;
}
.inputField1, .inputField2 {
	margin:15px;
}
#ourText1, #ourText2 {
	width:90%;
	padding:10px;
}
.segment1, .segment2 {
	width:80%;
	margin:15px;
	position: relative;
	height:50px;
}
.object1, .object2 {
	background: url(../img/car.png);
	z-index: 1000;
	width:100px;
	height: 50px;
	/*border-radius: 50%;
	background:red;*/
	position:absolute;
	transition:left 0.1s ease-in;
}
.mistake1, .mistake2 {
	width:80%;
	margin:15px auto;
	padding:15px;
	height: 65px;
}
.mistakeField1, .mistakeField2 {
	display:none;
	background: #F78484;
	width:50%;
	text-align: center;
	margin: 0 auto;
}
.results {
	display: none;
}
.showResults {
	width:80%;
	margin: 20px auto;
	border: 1px solid black;
}
thead {
	border: 1px solid black;
	background: #d3c1d2;
}
td, th {
	text-align: center;
	padding:5px;
	border: 1px solid black;
	width:33%;
}
