*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
}
.playground {
	display: inline-block;
	background: #eff;
	border: 5px solid gray;
}
.wrap{
	position: relative;
	width:1000px;
	height: 800px;
	margin: 10px;
}

.ball {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	margin-left: -10px;
	margin-top: -10px;
}

#band{
  position: absolute;
  transform-origin: 0% 50%;
}
