.map {
    width: 360px;
    height: 600px;
    background: 0 0 url(../img/map1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    float: left;
    border:2px solid #B64C1C;
}

.block {
    width: 1000px;
    margin: 0 auto;
}

#image {
    width: 640px;
    height: 600px;
    border: 2px solid #B64C1C;
}

html { 
    background-image: url(http://www.rabstol.net/uploads/gallery/main/200/rabstol_net_forest_35.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

body {
    padding-top: 30px;
    background: inherit;
}

.spot {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 5px;
}

.spot.highlight {
    background-color: #b33;
}

#link1 {
    top: 282px;
    left: 118px;
}

#link2 {
    top: 62px;
    left: 149px;
}

#link3 {
    top: 470px;
    left: 173px;
}

#link4 {
    top: 533px;
    left: 280px;
}