.container1 {
    width: 360px;
    height: 600px;
    background: 0 0 url(../img/map1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    float: left;
    border:2px solid #B64C1C;
}

.block {
    width: 1000px;
    margin: 0 auto;
}

#image {
    width: 640px;
    height: 600px;
    border: 2px solid #B64C1C;
}

body { 
    background-image: url(http://www.rabstol.net/uploads/gallery/main/200/rabstol_net_forest_35.jpg);
    background-size: cover;
    padding-top: 30px;
}

#link1, #link2, #link3, #link4 {
    width: 10px;
    height: 10px;
    background: #96938d;
    border-radius: 5px;
    display: inline-block;
}

#link1 {
    position: absolute;
    top: 282px;
    left: 118px;
}

#link2 {
    position: absolute;
    top: 62px;
    left: 149px;
}

#link3 {
    position: absolute;
    top: 470px;
    left: 173px;
}

#link4 {
    position: absolute;
    top: 533px;
    left: 280px;
}

.clear {
    clear: both;
}